{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ ticket.prix }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ ticket.emplacement }}</td>
            </tr>
            <tr>
                <th>Selected</th>
                <td>{{ ticket.selected ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ ticket.categorie.getLibelle() }}</td>
            </tr>
            <tr>
                <th>Spectateur</th>
                {% if ticket.spectateur is not null %}
                    <td>{{ ticket.spectateur.getNom() }} {{ ticket.spectateur.getPrenom() }}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_ticket_index') }}">Back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">Edit</a>
        {{ include('ticket/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
